@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #D0F2F2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/pexels-olly-3769144.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: brightness(10%) saturate(0%) blur(2px);
          backdrop-filter: brightness(10%) saturate(0%) blur(2px);
}
body header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
body header #modoAlternar {
  margin: auto;
  background-color: white;
  width: 100px;
  height: 20px;
  color: black;
  display: flex;
  border-radius: 10px;
  color: black;
}
body #titleProjeto {
  font-size: 32px;
  margin-bottom: 20px;
  color: white;
  font-family: "Space Mono", serif;
  text-align: center;
  line-height: 24px;
}
body #titleProjeto span {
  color: #30adb4;
}
body main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 60%;
  height: 70%;
  border-radius: 30px;
  font-family: "Space Mono", serif;
  color: #7C8887;
  box-shadow: 0px 0px 20px rgba(177, 177, 177, 0.308);
}
body main #calcArea {
  width: 60%;
  margin: auto;
  text-align: left;
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 30px;
  line-height: 0px;
  margin-left: 50px;
}
body main #calcArea #billValue {
  background-color: #F3F8FB;
  border: none;
  outline: none;
  height: 50px;
  padding: 10px;
  width: 80%;
  font-family: "Space Mono", serif;
  border-radius: 5px;
}
body main #calcArea #billValue:focus {
  border: 2px solid #00474B;
}
body main #calcArea #billValue::-moz-placeholder {
  text-align: right;
}
body main #calcArea #billValue::placeholder {
  text-align: right;
}
body main #calcArea #getValuePerson {
  background-image: url(../images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: center left 10px;
  text-align: right;
  border-radius: 5px;
  font-weight: bold;
  color: #00474B;
  font-size: 18px;
}
body main #calcArea #customValue {
  width: 80px;
  height: 50px;
  background-color: #F3F8FB;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}
body main #calcArea #customValue:focus {
  border: 2px solid #58A89D;
}
body main #calcArea #numberPeople {
  background-image: url(../images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: center left 10px;
  text-align: right;
  font-size: 18px;
  color: #00474B;
  border-radius: 5px;
  font-weight: bold;
}
body main #calcArea #numberPeople:focus {
  border: 2px solid #58A89D;
}
body main #calcArea input {
  background-color: #F3F8FB;
  border: none;
  outline: none;
  height: 50px;
  padding: 10px;
  width: 80%;
  font-family: "Space Mono", serif;
  border-radius: 5px;
}
body main #calcArea input:focus {
  border: 2px solid #00474B;
}
body main #calcArea input::-moz-placeholder {
  text-align: right;
}
body main #calcArea input::placeholder {
  text-align: right;
}
body main #calcArea #numberBtns {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  gap: 30px;
  justify-content: start;
  align-items: center;
}
body main #calcArea #numberBtns button {
  background-color: #00474B;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: "Space Mono", serif;
  font-weight: bold;
  font-size: 16px;
  transition: 0.8s ease-in;
  width: 80px;
  height: 50px;
  cursor: pointer;
  transition: 0.8s;
}
body main #calcArea #numberBtns button:hover {
  background-color: #A7F2E4;
  color: #014946;
}
body main #ResultSplit {
  background-color: #00474B;
  width: 60%;
  height: 90%;
  border-radius: 30px;
  text-align: left;
  margin-right: 50px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.497);
  display: grid;
  line-height: 32px;
  grid-template-columns: 100px 100px;
  grid-template-rows: 150px;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 30px;
}
body main #ResultSplit #totalContaUser {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  color: #58A89D;
}
body main #ResultSplit #btnReset {
  width: 280px;
  height: 50px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  cursor: pointer;
  background-color: #00494D;
  font-family: "Space Mono", serif;
  font-size: 18px;
  color: white;
  transition: 0.4s ease-in-out;
}
body main #ResultSplit #btnReset:hover {
  background-color: #61988e;
}
body main #ResultSplit #totalGorjeta {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  color: #58A89D;
}/*# sourceMappingURL=style.css.map */