@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'mixins.scss';

* {
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #D0F2F2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/pexels-olly-3769144.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    backdrop-filter: brightness(10%) saturate(0%) blur(2px);

    header {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        #modoAlternar {
            margin: auto;
            background-color: white;
            width: 100px;
            height: 20px;
            color: black;
            display: flex;
            border-radius: 10px;
            color: black;

        }

    }

    #titleProjeto {
        font-size: 32px;
        margin-bottom: 20px;
        color: white;
        font-family: "Space Mono", serif;
        text-align: center;
        line-height: 24px;

        span {
            color: #30adb4
        }
    }

    main {
        @include mainContent;

        #calcArea {
            width: 60%;
            margin: auto;
            text-align: left;
            flex-direction: column;
            display: flex;
            justify-content: center;
            gap: 30px;
            line-height: 0px;
            margin-left: 50px;

            #billValue {
                @include inputStyle
            }

            #getValuePerson {
                background-image: url(../images/icon-dollar.svg);
                background-repeat: no-repeat;
                background-position: center left 10px;
                text-align: right;
                border-radius: 5px;
                font-weight: bold;
                color: #00474B;
                font-size: 18px;
            }

            #customValue {
                width: 80px;
                height: 50px;
                background-color: #F3F8FB;
                font-size: 14px;
                border-radius: 5px;
                font-weight: bold;
                text-align: center;

                &:focus {
                    border: 2px solid #58A89D;
                }
            }

            #numberPeople {
                background-image: url(../images/icon-person.svg);
                background-repeat: no-repeat;
                background-position: center left 10px;
                text-align: right;
                font-size: 18px;
                color: #00474B;
                border-radius: 5px;
                font-weight: bold;

                &:focus {
                    border: 2px solid #58A89D;
                }
            }

            input {
                @include inputStyle;
            }

            // PARTE DE BOTÕES DE CALCULO TAMPLATE
            #numberBtns {
                @include calcAreaGrid;

                button {
                    @include porcentageBtn;
                }
            }
        }

        #ResultSplit {
            @include resultArea;

            #totalContaUser {
                font-size: 32px;
                font-weight: bold;
                margin-top: 10px;
                color: #58A89D;
            }

            #btnReset {
                @include resetBtn;
            }

            #totalGorjeta {
                font-size: 32px;
                font-weight: bold;
                margin-top: 10px;
                color: #58A89D;
            }
        }
    }
}
